In [21]:
import pandas as pd

from zhunt_wrapper import alanrun

In [22]:
with open('fasta/sequences_test.fasta', 'r') as tmp_fasta:
    res = alanrun(''.join(tmp_fasta.readlines()[1:]).replace('\n', ''),)

dinucleotides 8
min/max 6 8
min/max 6 8
operating on /var/folders/92/ml61nt355nb1nv82hmrrmz300000gn/T/tmp_j5etgp6
calculating zscore
opening /var/folders/92/ml61nt355nb1nv82hmrrmz300000gn/T/tmp_j5etgp6
inputting sequence
opening /var/folders/92/ml61nt355nb1nv82hmrrmz300000gn/T/tmp_j5etgp6.Z-SCORE

 run time=1 sec
use min/max 6 8
analyzing_zscore
opening /var/folders/92/ml61nt355nb1nv82hmrrmz300000gn/T/tmp_j5etgp6.Z-SCORE
opening /var/folders/92/ml61nt355nb1nv82hmrrmz300000gn/T/tmp_j5etgp6
inputting sequence

In [23]:
res

,Start,End,nu-1,nu-2,nu-3,Z-Score,Sequence,Conformation
0,1,17,16,29.306,33.925,2.226461,tttataccttcccagg,ASASASASASASASAS
1,2,18,16,29.246,40.133,2.270838,ttataccttcccaggt,SASASASASASASASA
2,3,19,16,28.598,34.382,2.865646,tataccttcccaggta,ASASASASASASASAS
3,4,18,14,29.064,39.492,2.414650,ataccttcccaggt,SASASASASASASA
4,5,19,14,28.579,24.492,2.886910,taccttcccaggta,ASASASASASASAS
...,...,...,...,...,...,...,...,...
29830,29831,29845,14,31.790,16.849,0.216156,agctttttatacct,SASASASASASASA
29831,29832,29844,12,31.840,19.219,0.210737,gctttttatacc,SAASASASASAS
29832,29833,29849,16,30.789,25.469,0.338254,ctttttataccttccc,SASASASASASASASA
29833,29834,29850,16,30.274,33.299,0.409797,tttttataccttccca,ASASASASASASASAS
29834,29835,29849,14,30.431,29.325,0.387540,ttttataccttccc,SASASASASASASA